process {
    withName:BWA {
        container = 'staphb/bwa'
        cpus = 2
    }

    withName:FAIDX {
        container = 'broadinstitute/gatk'
        cpus = 2
    }

    withName:PICARD {
        container = 'community.wave.seqera.io/library/picard:3.4.0--e9963040df0a9bf6'
        cpus = 2
    }
}