includeConfig './conf/base.config'
includeConfig './conf/modules.config'

docker {
    enabled         = true
    runOptions      = '-u $(id -u):$(id -g)'
}


params {
    ref_genome = "${PWD}/genomes/mm9.fasta"
    faidx = "${PWD}/Indexes/mm9.fasta.fai"
    dict = "${PWD}/Indexes/mm9.dict"
    bam = "${PWD}/BAM/*.bam"
    bai = "${PWD}/BAM/*.bai"
    reads = "${PWD}/reads/*_{1,2}.filt.fastq.gz"
    rglb = "lib1"
    rgpl = "ILLUMINA"
    erc = "GVCF"
    chr = "chrM"
}

