process { 
    withName:VARIANTCALLING {
        container = 'broadinstitute/gatk'
        cpus   = 4
        memory = '4 GB'
    }

    withName:DBIMPORT {
        container = 'broadinstitute/gatk'
        cpus   = 4
        memory = '4 GB'
    }

    withName:GENOTYPE {
        container = 'broadinstitute/gatk'
        cpus   = 4
        memory = '4 GB'
    }
}