process { 
    
    withName:ADD_RG {
        cpus = 4
        memory = '4 GB'
    }

    withName:VARIANTCALLING {
        cpus   = 4
        memory = '4 GB'
    }

    withName:DBIMPORT {
        cpus   = 4
        memory = '4 GB'
    }

    withName:GENOTYPE {
        cpus   = 4
        memory = '4 GB'
    }
}