process {

    withName:SAMTOOLS_CONVERT2BAM { 
        cpus = 4
        memory = '4 GB'
    }

    withName:SAMTOOLS_SORT_BAM { 
        cpus = 4
        memory = '4 GB'
    }

    withName:SAMTOOLS_INDEX {
        cpus = 4
        memory = '4 GB'
    }

        withName:FAIDX {
        cpus = 2
        memory = '4 GB'
    }
}